<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zinnia</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/stylesRegister.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <!--header-->
    <%- include('./partials/header.ejs') %>
   <main>
    <section>
        <div class="text-register">
            <h2>
                Registrarse, es gratis!
            </h2>
        </div>
        <div class="artic">
        <article class="row">
            <div class="text-form">
                <p>Crea tu cuenta para guardar tus prendas favoritas y recibir grandes descuentos.</p>
            </div>
            <form id="form" action="/user/register" method="POST" enctype="multipart/form-data">
              <div class="image-user">
                <div class="preview" id="preview"></div>
                <p>Subir foto de perfil</p> 
                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"><br/>
                <% if (locals.errors && errors.avatar){ %> 
                <p class="text-danger">
                      <%= errors.avatar.msg %>
                </p>
                <% } %>
                <p class="text-danger" id="avatarError"></p>
              </div>
              <div class="to-name">
                <div class="input-name">
                    <input type="text" name="name" id="name"
                    placeholder="Nombre" class=" <%= locals.errors && errors.name ? 'is-invalid': null %>"
                    value="<%= locals.oldData ? oldData.name : null %>">
                    <% if (locals.errors && errors.name){ %> 
                      <div class="text-danger">
                            <%= errors.name.msg %>
                      </div>
                    <% } %>
                    <p class="text-danger" id="nameError"></p>
                </div>
                <div class="input-apellido">
                    <input type="text" name="last_name" id="last_name"
                    placeholder="Apellido" class=" <%= locals.errors && errors.last_name ? 'is-invalid': null %>"
                    value="<%= locals.oldData ? oldData.last_name : null %>" >
                    <% if (locals.errors && errors.last_name){ %> 
                      <div class="text-danger">
                            <%= errors.last_name.msg %>
                      </div>
                    <% } %>
                    <p class="text-danger" id="last_nameError"></p>
                </div>
              </div>
              <div class="input-re">
                <input type="text" name="telephone" id="telephone" pattern="[0-9]+"
                placeholder="Telefono" class=" <%= locals.errors && errors.telephone ? 'is-invalid': null %>"
                value="<%= locals.oldData ? oldData.telephone : null %>">
                <% if (locals.errors && errors.telephone){ %> 
                  <div class="text-danger">
                        <%= errors.telephone.msg %>
                  </div>
                <% } %>
                <p class="text-danger" id="telephoneError"></p>
              </div>
              <div class="input-re">
                <input type="email" name="email" id="email"
                placeholder="Email" class=" <%= locals.errors && errors.email ? 'is-invalid': null %>"
                value="<%= locals.oldData ? oldData.email : null %>">
                <% if (locals.errors && errors.email){ %> 
                  <div class="text-danger">
                        <%= errors.email.msg %>
                  </div>
                <% } %>
                <p class="text-danger" id="emailError"></p>
              </div>
              <div class="input-re">
                <input type="password" name="password" id="password"
                placeholder="Contraseña" class=" <%= locals.errors && errors.password? 'is-invalid': null %>">
                <% if (locals.errors && errors.password){ %> 
                  <div class="text-danger">
                        <%= errors.password.msg %>
                  </div>
                <% } %>
                <p class="text-danger" id="passwordError"></p>
              </div>
              <div class="button-login">
                <button id="buttonSubmit">Crear cuenta</button>
              </div>
            </form> 
            <script src="/js/checkInValidation.js"></script>             
            <script src="/js/view.js"></script>
        </article>
    </div>
    </section>
   </main>
   
  <!--footer-->
  <%- include('./partials/footer.ejs') %>
</body>
</html>