<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/0537a6077e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/stylesList.css"/>
</head>
<body>
    <!-- ENCABEZADO -->
        <%- include('./partials/header.ejs') %>
    <!-- FIN HEADER -->
    <main>
        <section class="section-popular-ahora"> 
            <div class="headboard">
                <h2><%= title %></h2>
                <div class="input-search">
                    <form action="/search/product" method="POST">
                        <input name="search" type="text" placeholder="Buscar producto">
                        <button type="submit"><i class="fas fa-search-plus"></i></button>
                    </form>
                </div>
                
            </div>
            
            <table>
                <thead>
                    <tr>
                        <th class="imageProduct">Imagen</th><th>Nombre</th><th class="cost">Costo</th><th>Editar</th><th>Eliminar</th>
                    </tr>
                </thead>
                <% products.forEach(product=>{ %>
                <tr>
                    <td class="imageProduct"><img src="/images/productos/<%= product.image %>" class="section-img"></td>
                    <td class="name"><%= product.name %></td>
                    <td class="cost">$<%= product.sale_price %></td>
                    <td class="edit"><a href="/product/<%= product.idproduct %>/edit">Editar</a></td>
                    <td class="delet">
                        <a href="/products/<%= product.idproduct %>/<%= product.image %>?_method=delete">eliminar</a>

                    </td>
                </tr>
                <% }) %>                    
            </table>
           <div class="end-table">
               <a href="/formProduct" class="button">Ingresar producto</a>
               <% if(products.length>0){ %>
               <a href="/product/<%= paginado %>/paginado/<%= off %>?" class="more">Siguiente pagina <i class="fas fa-angle-double-right"></i></a>
               <% } %>
            </div> 
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>
    <!-- FIN DE FOOTER -->

</body>
</html>