<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <title>Zinnia</title>
        <script src="https://kit.fontawesome.com/0537a6077e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/stylesdetalle.css"/>
        <link rel="stylesheet" href="/css/styles.css"/>
       
    </head>
    <body>

<!-- ENCABEZADO -->
<%- include('./partials/header.ejs') %>
<!-- FIN HEADER -->

<!-- MAIN SECTION -->
<main>
    <article>
        <h3 class="detalle-h3">Detalle de producto</h3>
        <div class="container">
            <img src="/images/productos/<%= product.image %>" class="section-img" alt="Printed Dress">
            <div class="container-detalles">
                <div class="text-detalle">
                    <h4 class="detalle-h4"><%= product.name %> <span class="spacing">Dress  <%= product.sale_price %></span> mxn</h4>
                    <p class="detalle-p"><%= product.description %>
                    </p>
                    </div>
                    <h4 class="talla-h4">Talla: <%= product.size.size %></h4><br>
                   
                    <h4 class="talla-h4">Color: <%= product.color %></h4><br>
    

                <div class="detalle-cta">
                    <div><i class="fas fa-heart button-love"></i></div>
                    <div><button type="button" class="button-add">Agregar al carrito</button></div>
                </div>
            </div>
        </div>
    </article>
<!-- FIN MAIN SECTION -->

<!-- COMPRA SIMILARES -->
<section class="section-compra-similares"> 
    <h2>COMPRA SIMILARES</h2>
    <div class="container-dress">
        <img src="/images/img-dress1.png" class="dress-responsive1" alt="Dress 1">
        <img src="/images/img-dress2.jpeg" class="dress-responsive2" alt="Dress 2">
        <img src="/images/img-dress3.jpeg" class="dress-responsive3" alt="Dress 3">
        <img src="/images/img-dress4.jpeg" class="dress-responsive4" alt="Dress 4">
    </div>
</section>
<!-- FIN COMPRA SIMILARES -->
</main>
<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
<!-- FIN DE FOOTER -->

</body>
</html>
