<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/0537a6077e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/stylesHome.css" />
</head>

<body>
    <!-- ENCABEZADO -->
    <%- include('./partials/header.ejs') %>
        <!-- FIN HEADER -->
        <main>
            <% if(products){ %>
                
                    <section class="section-popular-ahora">

                        <h2>
                            <%= title %>
                        </h2>
                        
                        <div class="text-popular">
                            <% products.forEach(product=>{ %>
                                <a href="/detalleMenu/<%= product.idproduct %>">
                                <div class=img-1>
                                    <img src="/images/productos/<%= product.image %>" class="section-img"
                                        alt="Cropped Jacket">
                                    <h4 class="popular-h4">
                                        <%= product.name %>
                                    </h4>
                                    <p class="popular-p">$<%= product.sale_price %> <br>
                                            <%= product.color %>
                                                <%= product.size.size %>
                                    </p>
                                </div>
                            </a>
                                <% }) %>
                        </div>
        
                    </section>
                
            <%}%>
        </main>
        <a href="/shopping_car" class="btn-flotante"><i class="fas fa-cart-plus"></i></a>
        <!-- FOOTER -->
        <%- include('./partials/footer.ejs') %>
            <!-- FIN DE FOOTER -->

</body>

</html>